.heading h1 .opt{
    font-size: 14px;
}
.mid{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cardBoard {
    display: grid;
    grid-template-rows: 90px 90px 90px 90px 90px 90px;
    grid-template-columns: 90px 90px 90px 90px 90px 90px 90px;
}
.card{
    border: none;
    align-items: center;
}
.card img{
    height: 80px;
    width: 80px;
}
.restart {
    margin-top: 20px;
    text-align: center;
}
.back{
    display: none;
}
.front{
    display: block;
}
.result h2{
    margin: 0;
    font-size: 30px;
    font-family: cursive;
    color: black;
    text-align: center;
    font-weight: bold;
    animation: resultGlow 1s ease-in-out infinite alternate;
}
@keyframes resultGlow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}
@media (max-width: 623px) {
    .cardBoard {
        display: grid;
        grid-template-rows: 14vw 14vw 14vw 14vw 14vw 14vw;
        grid-template-columns: 14vw 14vw 14vw 14vw 14vw 14vw 14vw;
    }
    .card img{
        height: 12vw;
        width: 12vw;
    }
    .heading h1{
        font-size: 5vw;
        margin: 5vw;
    }
}