<div class="main">
    <div class="inp-form">
        <div class="heading center" style="margin-top: 45px;">
            <h1>Welcome, Register</h1>
        </div>
        <div class="form">
            <form [formGroup]="register">
                <label class="form-lable">Name:<span style="color: red;font-weight: bold;">*</span> </label>
                <input type="text" placeholder="Name" formControlName="name"><br />
                <div *ngIf="(f.name?.invalid && (f.name.dirty || f.name.touched))" class="errorU">
                    <div>
                        Name is required.
                    </div>
                </div>
                <label class="form-lable">User Name:<span style="color: red;font-weight: bold;">*</span> </label>
                <input type="text" placeholder="Username" formControlName="username"><br />
                <div *ngIf="(f.username?.invalid && (f.username.dirty || f.username.touched))" class="errorU">
                    <div>
                        Username is required.
                    </div>
                </div>
                <label class="form-lable">Email Id:<span style="color: red;font-weight: bold;">*</span> </label>
                <input type="email" placeholder="Email Id" formControlName="email"><br />
                <div class="msg" *ngFor="let error of error_messages.email">
                    <div *ngIf="(f.email?.hasError(error.type) && (f.email.dirty || f.email.touched))" class="errorU">
                        <div>
                            {{error.message}}
                        </div>
                    </div>
                </div>
                <label class="form-lable">Password:<span style="color: red;font-weight: bold;">*</span> </label>
                <span class="passm">
                    <input [type]="password1" placeholder="Password" formControlName="password">
                    <span class="passfa" style="margin-left: -30px;" (click)="passshow1()">
                        <fa-icon *ngIf="show1 == false" [icon]="iconshow"></fa-icon>
                        <fa-icon *ngIf="show1 == true" [icon]="iconnot"></fa-icon>
                    </span>
                </span>
                <br />
                <div *ngIf="(f.password?.invalid && (f.password.dirty || f.password.touched))" class="errorU">
                    <div>
                        Password is required.
                    </div>
                </div>
                <label class="form-lable">Comfirm Password:<span style="color: red;font-weight: bold;">*</span> </label>
                <span class="passm">
                    <input [type]="password2" placeholder="Confirm Password" formControlName="confirmpass">
                    <span class="passfa" style="margin-left: -30px;" (click)="passshow2()">
                        <fa-icon *ngIf="show2 == false" [icon]="iconshow"></fa-icon>
                        <fa-icon *ngIf="show2 == true" [icon]="iconnot"></fa-icon>
                    </span>
                </span>
                <br />
                <div *ngIf="(f.confirmpass?.invalid && (f.confirmpass.dirty || f.confirmpass.touched))" class="errorU">
                    <div>
                        Confirm password is required.
                    </div>
                </div>
                <div class="center"><button class="bottom-right" (click)="userregister()"
                        [disabled]="register.invalid">Register</button></div>
                <a routerLink="/entry/login/{{this.actrouter.snapshot.paramMap.get('from')}}">Already have account? Login</a>
            </form>
        </div>
    </div>
</div>