<div class="main">
    <div class="content">
        <div class="msg">
            <h1>
                <span>O</span>
                <span>o</span>
                <span>p</span>
                <span>s</span>
                <span>!</span>
            </h1>
        </div>
        <div class="err">
            <div class="top">
                <span>4<span>0</span>4</span> Page not found
            </div>
            <div class="next">
                <p>Whatever page you want to access That page may be removed or it's name is changed or it may be it is temporarily unavailable.</p>
            </div>
            <div class="restart">
                <button class="btn" (click)="back()">Back to Home</button>
            </div>
        </div>
    </div>
</div>